@import "../../node_modules/bootstrap/scss/bootstrap";

$primary: #0e1118;

body {
    margin: 0;
    padding: 0;
    background: $primary;
    text-align: center;
}

p {
    color: #adb5bd;
}

.nav-pills .nav-link.active{
    background-color: rgb(234, 106, 44);
    color: white;
}

.nav-link {
    color: #adb5bd;
}

.nav-link:hover,
.nav-link:focus {
    color: #adb5bd;
}