@import "../../node_modules/bootstrap/scss/bootstrap";

$primary: #0e1118;

body {
    margin: 0;
    padding: 0;
    background: $primary;
    text-align: center;
}
.offcanvas {
    --bs-offcanvas-width: 200px;
}
span {
    color: white;
}
p {
    color: #adb5bd;
}

.nav-pills .nav-link.active{
    background-color: rgb(234, 106, 44);
    color: white;
}

.nav-link {
    color: #adb5bd;
}

.nav-link:hover,
.nav-link:focus {
    color: #d2dde7;
}

.scrollspy-example-2 {
    height: 80vh;
    overflow: auto;
}
* {
    scrollbar-width: auto;
    scrollbar-color: #27324dc1 #161c2b6e;
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: $primary;
}

*::-webkit-scrollbar-thumb {
    background-color: #27324dc1;
    border-radius: 10px;
    border: 3px solid #27324dc1;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
hr {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

h4 {
    margin-bottom: 20px;
}


// section {
//  height: 100vh;
// }