// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
$primary: #0e1118;
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #27324dc1 #161c2b6e;
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: $primary;
}

*::-webkit-scrollbar-thumb {
    background-color: #27324dc1;
    border-radius: 10px;
    border: 3px solid #27324dc1;
}
body {
    margin: 0;
    padding: 0;
    background: $primary;
    text-align: center;
}   
.offcanvas {
    --bs-offcanvas-width: 200px;
}
.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
.carousel-inner canvas{
    padding: 1%;
    margin: 1%;

}
#creatingChart{
    margin: 0;
}

.container, .container h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.chartContainer{
    border: 0;
    justify-content: center;
    display: flex;
    width: 100%;
}

.chartContainer canvas{
    flex-grow: 1;
    max-width: 30%; 
    max-height: 600px;
}
.logo1 { 
    transition: all .2s ease-in-out; 
}
.logo1:hover { 
    transform: scale(1.1); 
}